/* -- Global styles -- */

:root{
    --theme-color-light: #fff;
    --theme-color-light-alt: #cd6123;
    --theme-color-dark: #eee;
    --theme-color-dark-alt: #000;
    --text-color: #000;
    --text-color-alt: #fff;
    --text-color-alt2: #808a99;
    --text-color-alt3: #626262;
    --border-color-light: #b8c0cc;
    --font-family-h: 'Suez One', serif;
    --font-family-txt: 'Inter', sans-serif;
    --font-size-h-xs: 16px;
    --font-size-h-s: 20px;
    --font-size-h-m: 24px;
    --font-size-h-l: 36px;
    --font-size-xs: 14px;
    --font-size-s: 14px;
    --font-size-m: 20px;
    --font-size-l: 22px;
    --font-weight-xlight: 200;
    --font-weight-light: 400;
    --font-weight-bold: 600;
    --line-height: 1.6;
    --line-height-xl: 2;
    --letter-spacing: .5px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 4rem;
}

html {
    scroll-behavior: smooth;
}

/* --- Layout --- */

body {
    min-width: 20rem;
}

.logo {
    width: 10rem;
}

.logo--navbar-logo {
    margin: 1rem 5% .5rem;
}

.logo--footer-logo {
    filter: saturate(0%) sepia(50%);
}

.header { 
    position: fixed;
    z-index: 1;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: var(--theme-color-light);
    transition: box-shadow 0.3s ease-in-out;
}

.header.scrolled {
    border: none;
    box-shadow: 0 4px 6px #0000001a;
}

.main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem .5rem 1rem;
    padding: .5rem;
    border: 2px solid #000;
    background-color: var(--theme-color-light);
    max-width: fit-content;
}

.main > p {
    margin: .5rem 1rem .5rem;
    max-width: 45ch;
}

.main > h1 {
    margin: 1rem 1rem 0;
}

.headline__frame {
    border: solid 2px var(--text-color-alt);
    padding: 1rem 2rem 2rem;
    margin: .5rem .5rem .5rem;
}

.headline__frame > p {
    margin-top: .5rem;
}

.headline__frame > ul {
    margin: 1rem
}

.hero-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} 

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-color-light);
    padding: .5rem;
}

.section__services {
    padding: 1rem 1rem 4rem;
    background-color: var(--theme-color-dark);
}

.section__services > h2 {
    margin: 1rem;
}

.section__gallery {
    align-items: center;
}

.section__gallery:nth-child(even) {
    background-color: var(--theme-color-dark);
} /* Setting to alternate background color for gallery sections */

.section__gallery .headline__frame {
    margin-bottom: 1rem;
}

.section__gallery:nth-child(odd) .headline__frame {
    border: solid 2px var(--theme-color-dark);
}

.wrapper--gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-flow: dense;
    grid-gap: .5rem;
}

.gallery__frame:first-child {
    grid-row: span 2;
    grid-column: span 2;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    aspect-ratio: 1/1;
}

.section__about-us {
    background-color: var(--theme-color-light-alt);
}

.section__about-us .headline__frame {
    color: var(--text-color-alt);
    font-weight: var(--font-weight-light);
}

.section__contact-us {
    background-color: var(--theme-color-dark);
    box-shadow: 0 4px 6px #0000001a;
    text-align: center;
}

.section__contact-us .headline__frame {
    border-width: 3px;
}

.section__contact-us .headline__frame > h2 {
    margin-top: .5rem;
}

.section__contact-us > p {
    margin-top: 1rem;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    min-width: 30ch;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--theme-color-dark-alt);
    color: var(--text-color-alt);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: -1;
    color: var(--text-color-alt3);
    padding: 3rem 5rem 2rem;
}

.footer > h4 {
    margin: .2rem;
}

.footer > h5 {
    margin: 2rem auto 3rem;
}

/* -- Typography -- */

h1,
h2,
h3,
h4,
h5 {
    text-wrap: balance;
    text-align: center;
    letter-spacing: .5px;
}

h1,
h2 {
    font-family: var(--font-family-h);
    font-weight: var(--font-weight-light);
}

h3,
h4,
h5 {
    font-family: var(--font-family-txt);
}

h4,
h5 {
    font-weight: var(--font-weight-xlight);
}

h1 {
    font-size: var(--font-size-h-m);
}

h2 {
    font-size: var(--font-size-h-s);
}

h3 {
    font-size: var(--font-size-h-xs);
    font-weight: var(--font-weight-light);
}

h4 {
    font-size: var(--font-size-xs);
}

a,
p,
label,
ul {
    font-family: var(--font-family-txt);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
}

a,
p,
label,
ul {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
}

label,
input, 
textarea  { font-size: var(--font-size-xs);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--theme-color-light-alt);
}

a:active {
    color: var(--text-color-alt2);
}

.a--alt {
    color: var(--text-color-alt);
}

input::placeholder,
textarea::placeholder {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-xs);
}

input:focus, textarea:focus {
    border-color: var(--text-color-alt2);
}

label {
    align-self: flex-start;
    margin: .5rem .3rem 0;
}

p { 
    max-width: 60ch;
}

ul {
    line-height: var(--line-height-xl);
}

input, 
textarea {
    width: 100%;
    padding: .5em;
    border-radius: 3px;
    border-width: 1px;
    border-color: var(--border-color-light);
    border-style: solid;
    outline: none;
}

textarea {
    height: 7.5rem;
}

.span--nobreak {
    white-space: nowrap;
}

/* --- Buttons -- */

.btn { 
    display: block;
    width: 26ch;
    margin: 1rem;
    padding: .6em 1.25em;
    border-radius: 0;
    border-width: 0;
    border: 2px solid var(--theme-color-light-alt);
    background-color: var(--theme-color-light);
    color: var(--theme-color-light-alt);
}

/* Effet on the main cta button to move the icon on hover" */
.btn__icon {
    transition: transform 0.3s ease-in-out;
}

.btn--primary-cta {
    position: relative;
    margin-bottom: 2rem;
}

.btn--primary-cta:hover .btn__icon {
    transform: translateX(+7px);
}
/* --- */

.btn:hover {
    cursor:pointer;
}

.btn:active {
    color: var(--theme-color-dark-alt);
    border-color: var(--theme-color-dark-alt);
}

.btn--primary-cta:active .btn__icon { 
    color: var(--theme-color-dark-alt);
}

.btn--submit-msg {
    width: auto;
    margin: 3rem 1rem 2rem;
    font-weight: var(--font-weight-bold);
}

/* --- Media queries ---- */

@media (min-width:600px) {

    .section {
        padding: 1.5rem 3rem;
    }

    .section__home {
        padding: 0.5rem 3rem;
    }

    .section__gallery:nth-child(even) .wrapper--gallery {
            direction: rtl;
    }

    .section__gallery .headline__frame {
        margin-bottom: 1.5rem;
    }

    .contact-us__form {
        min-width: 40ch;
}

@media (min-width:875px) {
 
    .wrapper--gallery {
        grid-template-columns: repeat(6, minmax(8rem, 1fr));
    }
}

@media (min-width:980px) {
    .section__home {
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
    }
    
    .header {
        border: none;
        box-shadow: 0 4px 6px #0000001a;
    }
    
    .logo--navbar-logo {
    width: 14rem;
    margin-bottom: 0;
    }

    .main {
        margin: 0 auto 1rem;
    }

    .home__frame {
        max-width: 50vw;
        margin-top: 5rem;
    }

    .headline__frame {
        margin: 0 0 1.5rem;
    }
}

@media (min-width: 1250px) {
    
    .section {
        padding: 2rem 6rem;
    }

    .section__home {
        padding: 0.5rem 6rem;
    }

    .main {
        padding: 1rem;
    }

    .section__services {
        padding-bottom: 4rem;
    }
}
