:root{
    --theme-color-light: #fff;
    --theme-color-light-alt: #cd6123;
    --theme-color-dark: #eee;
    --theme-color-dark-alt: #000;
    --text-color: #000;
    --text-color-alt: #fff;
    --text-color-alt2: #808a99;
    --border-color-light: #b8c0cc;
    --font-family-h: 'Suez One', serif;
    --font-family-txt: 'Inter', sans-serif;
    --font-size-h-xs: ;
    --font-size-h-s: 24px;
    --font-size-h-m: ;
    --font-size-h-l: 36px;
    --font-size-s: 18px;
    --font-size-m: ;
    --font-size-l: 20px;
    --line-height: 1.6;
    --line-height-h: 1.2;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 4.5rem;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-s);
    line-height: var(--line-height);
}
    
nav { 
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 1rem;
    background-color: var(--theme-color-light);
    box-shadow: 0 4px 6px #0000001a;
}

section:nth-child(odd) {
    background-color: #eee;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

article {
    background-color: #808a99;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    text-wrap: balance; /* currently limited support */
    font-family: var(--font-family-h);
    font-weight: 400;
    line-height: var(--line-height-h);
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--font-size-h-s);
}

.logo {
    width: 13rem;
    margin-top: 1rem;
    
}

.home__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home {
    justify-content: space-around;
}

.main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin-top: 7rem;
    font-weight: 600;
}

.btn {
    
    display: block;
    width: 26ch;
    margin: 2rem;
    padding: .6em 1.25em;
    border-radius: 15px;
    border-width: 0;
    background-color: var(--theme-color-light-alt);
    color: var(--theme-color-light);
    font-size: var(--font-size-s);
    text-decoration: none;
    text-align: center;
}

.btn__icon {
transition: transform 0.3s ease-in-out;

}

.btn--primary-cta {
    position: relative;
}

.btn--primary-cta:focus,
.btn--primary-cta:active {
    color: var(--theme-color-dark);
}

.btn--primary-cta:hover .btn__icon {
    transform: translateX(+7px);
}

.btn--primary-cta:focus .btn__icon,
.btn--primary-cta:active .btn__icon { 
    color: var(--theme-color-dark);
}

@media (min-width: 600px) {

}

@media (min-width: 1250px) {
    #home {
      flex-direction: row-reverse;
      justify-content: space-around;
    }
    
    body {
    font-size: var(--font-size-l);
    }

    h1 {
  font-size: var(--font-size-h-l);
    }

    .main {
        margin-top: 11rem;
        padding: 5rem;
        max-width: 45%;
      }
    
    .section {
        height: 90vh;
        padding: 3rem 7rem 3rem;
      }
    
    .btn {
        font-size: var(--font-size-l);
        margin-top: 5rem;
    }

    .logo {
        width: 13rem;
        margin-left: 6rem;
    }
}
