/* -- Global styles -- */

:root{
    --theme-color-light: #fff;
    --theme-color-light-alt: #cd6123;
    --theme-color-dark: #eee;
    --theme-color-dark-alt: #000;
    --text-color: #000;
    --text-color-alt: #fff;
    --text-color-alt2: #808a99;
    --text-color-alt3: #626262;
    --border-color-light: #b8c0cc;
    --font-family-h: 'Suez One', serif;
    --font-family-txt: 'Inter', sans-serif;
    --font-size-h-xs: 16px;
    --font-size-h-s: 22px;
    --font-size-h-m: 24px;
    --font-size-h-l: 36px;
    --font-size-xs: 14px;
    --font-size-s: 18px;
    --font-size-m: 20px;
    --line-height: 1.6;
    --line-height-h: 1.2;
    --line-height-xl: 2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 4rem;
}

html {
    scroll-behavior: smooth;
}

/* --- Layout --- */

body {
    min-width: 20rem;
}

.logo {
    width: 10rem;
}

.logo--navbar-logo {
    margin: 1rem 1rem .5rem;
}

.logo--footer-logo {
    filter: saturate(0%) sepia(50%);
}

.header__nav { 
  position: fixed;
  z-index: 1;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: var(--theme-color-light);
  transition: box-shadow 0.3s ease-in-out;
}

.header__nav.scrolled {
    border: none;
    box-shadow: 0 4px 6px #0000001a;
}

.main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 5rem auto 0;
    font-weight: 600;
}

.home__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-color-light);
    padding: 2rem 2rem 5rem;
}

.section__home {
    padding: 1rem;
}

.section__services {
    font-weight: 600;
    padding: 2rem 4rem 4rem;
    background-color: var(--theme-color-dark);
}

.section__gallery {
    padding: 2rem 1rem 5rem;
}

.section__gallery:nth-child(even) {
    background-color: var(--theme-color-dark);
} /* Setting to alternate background color for gallery sections */

.section__gallery > p {
    margin: 1rem 2rem 3rem;
}

.gallery__wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
}

.gallery_frame {

}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
}

.img--big {
    grid-row: span 2;
    grid-column: span 2;
}

.img--last {

}

.section__about-us {
    background-color: var(--theme-color-light-alt);
    color: var(--text-color-alt);
}

.section__contact-us {
    background-color: var(--theme-color-dark);
    box-shadow: 0 4px 6px #0000001a;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--theme-color-dark-alt);
    color: var(--text-color-alt);
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: -1;
    color: var(--text-color-alt3);
    padding: 3rem 5rem 2rem;
}

/* -- Typography -- */

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    line-height: var(--line-height-h);
    text-wrap: balance;
    text-align: center;
}

h1,
h2 {
    font-family: var(--font-family-h);
}

h3,
h4,
h5 {
    font-family: var(--font-family-txt);
}

h1 {
    font-size: var(--font-size-h-m);
    margin: 1rem 0 2rem;
}

h2 {
    font-size: var(--font-size-h-s);
    margin: 1rem auto;
}

h3 {
    font-size: var(--font-size-h-xs);
}

h4 {
    font-size: var(--font-size-xs);
    margin: .2rem;
}

h5 {
    margin: 2rem auto 3rem;
}

a,
p,
label {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-xs);
    line-height: var(--line-height);
}

ul {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xl);
}

a {
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--theme-color-light-alt);
}

a:active {
    color: var(--text-color-alt2);
}

.a--alt {
    color: var(--text-color-alt);
}

p { 
    max-width: 60ch;
}

label {
    align-self: flex-start;
    margin: .5rem .3rem 0;
}

input, 
textarea {
    width: 100%;
    padding: .5em;
    border-radius: 3px;
    border-width: 1px;
    border-color: var(--border-color-light);
    border-style: solid;
    outline: none;
    font-size: var(--font-size-xs);
}

textarea {
    height: 7.5rem;
}

input::placeholder,
textarea::placeholder {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-xs);
}

input:focus, textarea:focus {
    border-color: var(--text-color-alt2);
}

.span--nobreak {
    white-space: nowrap;
}

/* --- Buttons -- */

.btn { 
    display: block;
    width: 26ch;
    margin: 2rem;
    padding: .6em 1.25em;
    border-radius: 0;
    border-width: 0;
    border: 2px solid var(--theme-color-light-alt);
    background-color: var(--theme-color-light);
    color: var(--theme-color-light-alt);
    font-size: var(--font-size-s);
    text-decoration: none;
    text-align: center;
}

/* Effet on the main cta button to move the icon on hover" */
.btn__icon {
    transition: transform 0.3s ease-in-out;
}

.btn--primary-cta {
    position: relative;
}

.btn--primary-cta:hover .btn__icon {
    transform: translateX(+7px);
}
/* --- */

.btn:hover {
    cursor:pointer;
}

.btn:active {
    color: var(--theme-color-dark-alt);
    border-color: var(--theme-color-dark-alt);
}

.btn--primary-cta:focus .btn__icon,
.btn--primary-cta:active .btn__icon { 
    color: var(--theme-color-dark-alt);
}

.btn--submit-msg {
    width: auto;
    margin-top: 3rem;
}

/* --- Media queries ---- */

@media (min-width: 1250px) {

    body {
    font-size: var(--font-size-m) !important;
    }

    h1 {
    font-size: var(--font-size-h-l);
    }

    h2 {
        font-size: var(--font-size-h-m);
    }
    
    a,
    p,
    ul,
    h3,
    label {
        font-size: var(--font-size-s);
    }

    h4,
    h5 {
        font-size: var(--font-size-xs);
    }

    .header__nav {
        border: none;
        box-shadow: 0 4px 6px #0000001a;
    }
    
    .logo--navbar-logo {
        margin: 1rem 6rem 0rem;
        width: 16rem;
    }

    .section {
        padding: 2rem 5rem;
    }

    .section__home {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 0;
    }
    
    .home__image {
        margin: 6rem 1rem 1rem 5rem;
        max-width: 50%;
    }

    .main {
        margin-top: 6rem 5rem 0rem;
        padding:6rem 5rem 0rem;
        max-width: 50%;
    }

    .btn {
        font-size: var(--font-size-s);
        margin: 3rem;
    }
}
