@font-face {
    src: url('../fonts/suezone-regular-webfont.woff2') format('woff2');
    font-family: 'Suez One';
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adjusted Arial Fallback';
    src: local(Arial);
    size-adjust: 106%;
    ascent-override: 92%;
    descent-override: 28%;
    line-gap-override: 5%;
    font-weight: 600 !important;
}