@font-face {
    font-family: 'Inter';
    src: url('https://ik.imagekit.io/vjimgkit/redland-renovations/fonts/inter-variablefont_slntwght-webfont.woff2?updatedAt=1712156694583') format('woff2');
}

@font-face {
    font-family: 'Quicksand';
    src: url('https://ik.imagekit.io/vjimgkit/redland-renovations/fonts/quicksand-variablefont_wght-webfont.woff2?updatedAt=1712156694581') format('woff2');
}

@font-face {
    font-family: 'Suez One';
    src: url('https://ik.imagekit.io/vjimgkit/redland-renovations/fonts/suezone-regular-webfont.woff2?updatedAt=1712156694585') format('woff2');
}
