/* --- Global styles --- */

:root {
    /* Theme variables */
    --logo-color-light: #9E2907;
    --logo-color-dark:#0A0706;
    --theme-color-light: #fff;
    --theme-color-light-alt: #bb562a;
    --theme-color-dark: #eee;
    --theme-color-dark-alt: #1b1b1b;
    --text-color: #1b1b1b;
    --text-color-alt: #fff;
    --text-color-alt2: #808a99;
    --text-color-alt3: #626262;
    --border-color-light: #b8c0cc;
    --font-family-h: 'Suez One', 'Adjusted Arial Fallback', sans-serif;
    --font-family-txt: Arial, Helvetica, sans-serif;
    --font-size-h-xs: 16px;
    --font-size-h-s: 22px;
    --font-size-h-m: 26px;
    --font-size-h-l: 30px;
    --font-size-xxs: 10px;
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 20px;
    --font-size-xl: ;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --line-height: 1.6;
    --line-height-s: 1.4;
    --letter-spacing: .6px;

    /* Navigation variables (Code implemented following the tutorial from Web Dev Simplified ((c) - readme > credits) */
        --bar-width: 35px;
        --bar-height: 4px;
        --hamburger-gap: 6px;
        --foreground: var(--text-color);
        --background: var(--text-color-alt);
        --hamburger-margin-top: 1rem;
        --hamburger-margin-right: 1rem;
        --hamburger-margin-bottom: 1rem;
        --hamburger-margin-left: 1rem;
        --animation-timing: 200ms ease-in-out;
        --animation-timing-sidebar: .3s ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    /* -- */
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 3.5rem;
    -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
    outline: 2px solid var(--theme-color-light-alt);
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
}

body {
    min-width: 18rem;
}


/* --- Layout --- */

/* Header Styles */
.header { 
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    width: 100vw;
    border: none;
    box-shadow: none;
    background-color: var(--theme-color-light);
    transition: box-shadow 0.3s ease-in-out;
}

.header.scrolled {
    border: none;
    box-shadow: 0 4px 6px #0000001a;
}

/* Section and Frame Styles */
.frame {
    border: solid 2px var(--text-color-alt);
    padding: 1.5rem 2rem 2rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame > p {
    margin-top: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-color-light);
    padding: 1rem;
}

/* Home Page Styles */
.section__home {
    padding: .5rem;
}

.main-headline { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.5rem .5rem .5rem;
    padding: .5rem;
    background-color: var(--theme-color-light);
    max-width: fit-content;
    opacity: 1; 
    transition: opacity 0.3s ease;
}

.main-headline > h1 {
    margin: 0 1rem;
}

.main-headline > p {
    margin: 1.5rem 1rem 1rem;
    max-width: 45ch;
}

.hero-img {
    display: block;
    width: 100%;
    min-width: 320px;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: transform;
    overflow: hidden;
}

.home__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-position: bottom;
    overflow: hidden;
}

/* Services Page Styles */
.section__services {
    background-color: var(--theme-color-dark);
}

.section__services h2 {
    margin: 1rem 1rem 2rem;
}

.section__services .frame {
    border: none;
}

.section__services .frame > ul {
    margin: 0 1rem;
}

/* Gallery Page Styles */
.section__gallery {
    align-items: center;
    padding: 1rem .5rem .5rem;
}

.section__gallery:nth-child(even) {
    background-color: var(--theme-color-dark);
} /* Alternate background color for gallery sections */

.section__gallery .frame {
    border: none;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-flow: dense;
    grid-gap: .5rem;
} /* Grid that arranges the flow of the images */

.gallery__frame:first-child {
    grid-row: span 2;
    grid-column: span 2;
} /* Set the first image in the gallery to double size */

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    aspect-ratio: 1 / 1;
}

/* About Us Page Styles */
.section__about-us {
    background-color: var(--theme-color-light-alt);
}

.section__about-us .frame {
    color: var(--text-color-alt);
    max-width: 70ch;
}

/* Contact Us Page Styles */
.section__contact-us {
    background-color: var(--theme-color-dark);
    box-shadow: 0 4px 6px #0000001a;
    text-align: center;
}

.section__contact-us .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 3px;
}

.section__contact-us .frame > h2 {
    margin: 1rem;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    min-width: 30ch;
}

.section__thank-you .logo,
.section__page-404 .logo {
    margin: 2rem;
}

.section__thank-you > h1,
.section__thank-you > p,
.section__page-404 > h1,
.section__page-404 > p {
    margin: 1rem;
    text-align: center;
    text-wrap: balance;
}

/* Aside Styles */
.aside {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color-dark-alt);
    align-items: center;
    padding: 2rem;
  
}

.aside > * {
    min-width: 320px;
    max-width: 60ch;
}

/* Footer Styles */
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: -1;
    color: var(--text-color-alt3);
    padding: 1rem 5rem .25rem;
}

.footer > p {
    font-size: var(--font-size-xs);
}

.footer > p:last-child {
    margin-top: 2rem;
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-light);
}


/* -- Typography -- */

/* Headings */
h1, 
h2,
h3,
h4,
h5 {
    text-wrap: balance;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    max-width: 415px;
}

h3,
h4,
h5 {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-h-xs);
}

h1,
h2 {
    font-family: var(--font-family-h);
    font-weight: var(--font-weight-regular);
}


h4,
h5 {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xs);
}

h1 {
    font-size: var(--font-size-h-m);
}

h2 {
    font-size: var(--font-size-h-s);
}

h3 {
    line-height: var(--line-height);
    font-weight: var(--font-weight-regular);
}

/* Text Styles */
a,
p,
label,
ul {
    font-family: var(--font-family-txt);
    line-height: var(--line-height);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
    letter-spacing: var(--letter-spacing);
    max-width: 415px;
}

label {
    color: var(--text-color-alt3);
}

ul {
    line-height: var(--line-height-s);
    list-style-type: none;
}

li {
    display: inline-block;
    margin-bottom: 1.5rem;
}

/* Link Styles */
a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: var(--font-weight-regular);
}

a:hover {
    color: var(--theme-color-light-alt);
}

a:active {
    color: var(--text-color-alt2);
}

.a--alt {
    color: var(--theme-color-light-alt);
    font-weight: var(--font-weight-regular);
}

/* Input and Textarea Styles */
label {
    align-self: flex-start;
    margin: 0.5rem 0.3rem 0;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 3px;
    border-width: 1px;
    border-color: var(--border-color-light);
    border-style: solid;
    outline: none;
    font-size: var(--font-size-s);
}

textarea {
    height: 7.5rem;
}

input::placeholder,
textarea::placeholder {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
}

input:focus,
textarea:focus {
    border-color: var(--text-color-alt2);
}

/* Icon Styles */

svg {
    cursor: pointer;
    display: block;
}

/* Logo Styles */
.logo {
    width: 2.5rem;
    height: auto;
}

.logo--mini-anim {
    margin: .75rem .3rem .75rem .75rem;
    width: 2.5rem;
}

.logo--name {
    width: 6.8rem;
    margin: .75rem .75rem .75rem 0;
}

.logo--footer-logo {
    filter: saturate(0%) sepia(50%);
    transform: translateZ(0); /* Important! This code is required to fix the svg rendering bug on iOS devices that causes blurry svg image if the css filter is applied */
    opacity: 0.6;
    width: 2.2rem;
    height: 2.2rem;
    margin: 1rem;
}

.wrapper--logo-btn {
    display: flex;
    flex-direction: row;
    width: fit-content;
}


/* Logo icon animation */
#light-group {
    fill: var(--logo-color-light);
}

#dark-group {
    fill: var(--logo-color-dark);
}

#light-letter-1,
#light-letter-2 {
    transition: all 1s ease-in-out .25s;
}

#dark-letter-1,
#dark-letter-2 {
    transition: all 1.5s ease-in-out;
}

    /* Logo letter initial state */
svg #light-letter-1 {
    transform: translateY(0);
}

svg #dark-letter-1 {
    transform: translateY(0);
}

svg #light-letter-2 {
    transform: translateY(-200%);
}

svg #dark-letter-2 {
    transform: translateY(-200%);
}

   
@keyframes logo-anim-upper {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes logo-anim-lower {
    from {
        transform: translateY(0);
    } 
    to {
        transform: translateY(200%);
    }
}

    /* Logo letter after state */ 
a:hover #light-letter-1 {
    animation: logo-anim-lower 1s forwards;
    animation-delay: 0.25s;
}

a:hover #dark-letter-1 {
    animation: logo-anim-lower 1s forwards;
}

a:hover #light-letter-2 {
    animation: logo-anim-upper 1s forwards;
    animation-delay: 0.25s;
}

a:hover #dark-letter-2 {
    animation: logo-anim-upper 1s forwards;
}

/* Double arrow icon*/
.icon-double-arrow-right {
    transition: transform 0.3s ease;
    transform: translateY(1px);
}


/* --- Buttons -- */

/* Global button styles */
.btn { 
    display: inline-block;
    margin: 1rem;
    padding: .4em 1.25em;
    border-radius: 4px;
    border-width: 0;
    border: none;
    background-color: var(--theme-color-light-alt);
    border: solid 2px var(--theme-color-light-alt);
    color: var(--text-color-alt);
}

.btn:hover {
    cursor: pointer;
    color: var(--text-color-alt)
}

.btn:active {
    color: var(--text-color-alt);
    border-color: var(--theme-color-light-alt);
}

/* Primary call-to-action button */
.btn--primary-cta {
    padding-left: 1.6rem;
    margin-bottom: 1.5rem;
}

.btn--primary-cta:hover .icon-double-arrow-right {
    transform: translateX(5px) translateY(1px);
}

/* Submit message in the form button */
.btn--submit-msg {
    width: auto;
    padding: .6rem 1.25rem;
    margin: 3rem 1rem 2rem;
    font-weight: var(--font-weight-regular);
}

/* Button to toggle visibility for images */
.section__gallery input[type="checkbox"] {
    display: none;
}

.gallery__frame:has(.folded) {
    display: none;
}

.frame__toggle-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn--toggle-img {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2.5rem 1.5rem;
    padding: 1em;
    gap: .1rem;
    width: 1.5em;
    height: 1.5em;
    background-color: #1b1b1b;
    border: none;
    border-radius: 50%;
    
}

.btn--toggle-img::before {
    content: url('../images/icons/icon-arrow-down.svg');
    width: 11;
    height: 6;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
} /* Unfolded button content */


.btn--toggle-img::after {
    content: url('../images/icons/icon-arrow-up.svg');
    width: 11;
    height: 6;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -62%); 
    display: none;
} /* Folded button content */


#folding-btn--roofing:checked ~ .gallery-grid .gallery__frame:has(.folded),
#folding-btn--rendering:checked ~ .gallery-grid .gallery__frame:has(.folded),
#folding-btn--kitchen:checked ~ .gallery-grid .gallery__frame:has(.folded),
#folding-btn--gardening:checked ~ .gallery-grid .gallery__frame:has(.folded),
#folding-btn--fencing:checked ~ .gallery-grid .gallery__frame:has(.folded),
#folding-btn--heating:checked ~ .gallery-grid .gallery__frame:has(.folded),
#folding-btn--driveways:checked ~ .gallery-grid .gallery__frame:has(.folded) {
    display: block;
} /* Reveal folded images on click  */

#folding-btn--roofing:checked ~ .gallery-grid .gallery__frame > .folded,
#folding-btn--rendering:checked ~ .gallery-grid .gallery__frame > .folded,
#folding-btn--kitchen:checked ~ .gallery-grid .gallery__frame > .folded,
#folding-btn--gardening:checked ~ .gallery-grid .gallery__frame > .folded,
#folding-btn--fencing:checked ~ .gallery-grid .gallery__frame > .folded,
#folding-btn--heating:checked ~ .gallery-grid .gallery__frame > .folded,
#folding-btn--driveways:checked ~ .gallery-grid .gallery__frame > .folded {
    transform: scale(1, 1);
} /* Transform the scale of the revealed images on click */

#folding-btn--roofing:checked ~ .frame__toggle-img .btn--toggle-img::before,
#folding-btn--rendering:checked ~ .frame__toggle-img .btn--toggle-img::before,
#folding-btn--kitchen:checked ~ .frame__toggle-img .btn--toggle-img::before,
#folding-btn--gardening:checked ~ .frame__toggle-img .btn--toggle-img::before,
#folding-btn--fencing:checked ~ .frame__toggle-img .btn--toggle-img::before,
#folding-btn--heating:checked ~ .frame__toggle-img .btn--toggle-img::before,
#folding-btn--driveways:checked ~ .frame__toggle-img .btn--toggle-img::before {
    display: none;
} /* Hide icon for the folded button */


#folding-btn--roofing:checked ~ .frame__toggle-img .btn--toggle-img::after,
#folding-btn--rendering:checked ~ .frame__toggle-img .btn--toggle-img::after,
#folding-btn--kitchen:checked ~ .frame__toggle-img .btn--toggle-img::after,
#folding-btn--gardening:checked ~ .frame__toggle-img .btn--toggle-img::after,
#folding-btn--fencing:checked ~ .frame__toggle-img .btn--toggle-img::after,
#folding-btn--heating:checked ~ .frame__toggle-img .btn--toggle-img::after,
#folding-btn--driveways:checked ~ .frame__toggle-img .btn--toggle-img::after {
    display: block;
} /* Display icon for the unfolded button */

/* -- Special effects and animations -- */

.span--nobreak {
    white-space: nowrap;
} /* Span for control of the text breaking */


.hidden-load,
.hidden {
    opacity: 0;
    transform: scale(.85);
    transition: all .5s;
} /* Class to set the content invisible until it is entered the intersection observer */

.show {
    opacity: 1;
    transform: scale(1);
} /* Class to set the content visible as it enters the intersection observer */

.zoom-in {
    transform: scale(1.1);
} /* class to animate zoom-in on scroll for hero image */

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
} /* Class to fade-out the content from the page when its leaving the viewport */

@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}

/*  Content reveal-on-scroll effect (Code implemented following the tutorial from WebStylePress ((c) - readme > credits)  */
   h1,
   h2,
   h3,
   h4,
   h5,
   p,
   ul,
   .revealed {
       animation: CSSscrollReveal ease-in both;
       animation-timeline: view();
       animation-range: entry 50% cover 17.5%;
       transition: all 1.5s;
    }
   @keyframes CSSscrollReveal {
       from {
           opacity: 0;
           transform: translateY(50px);
       }
       to {
           opacity: 1;
           transform: translateY(0);
       }
    }
    .section__services .frame h2 {
        animation: CSSscrollReveal ease-in both;
        animation-timeline: view();
        animation-range: entry 60% cover 20%;
        transition: all 2s;
     }
  
    @keyframes CSSscrollReveal {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .section__services .frame * {
        animation: CSSscrollReveal ease-in both;
        animation-timeline: view();
        animation-range: entry 7.5% cover 10%;
        transition: all 2s;
     }
  
    @keyframes CSSscrollReveal {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .section__contact-us .contact-us__form > .btn--submit-msg {
        animation: CSSscrollReveal ease-in both;
        animation-timeline: view();
        animation-range: entry 50% cover 12.5%;
        transition: all 1.5s;
     }
  
    @keyframes CSSscrollReveal {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .btn--toggle-img {
        animation: CSSscrollReveal ease-in both;
        animation-timeline: view();
        animation-range: entry 50% cover 10%;
        transition: all 1.5s;
     }
  
    @keyframes CSSscrollReveal {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
/* -- */

/* Text highlight-on-scroll effect (Code implemented following the tutorial from Kevin Powell ((c) - readme > credits) */
    .scroll-reveal .line-reveal,
    .scroll-reveal .line-reveal > * {
        color: hsl(0 0% 100% / 0.2);
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0 100%;
        background-image: linear-gradient(90deg, #fff, #fff);
        animation: scroll-reveal linear forwards;
        animation-timeline: view();
    }

    .scroll-reveal .line-reveal {
        animation-range-start: cover 20vh;
        animation-range-end: cover 70vh;
    
    }

    .scroll-reveal .line-reveal > .phone-link {
        animation-range-start: cover 60vh;
        animation-range-end: cover 70vh;
    
    }

    .scroll-reveal .line-reveal > .email-link {
        animation-range-start: cover 60vh;
        animation-range-end: cover 70vh;
    }
/* --- */

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}


/* -- Navbar Properties -- */

    /* Hamburger menu and sliding sidebar (Code implemented following the tutorial from Web Dev Simplified and Codehal (c) - readme > credits) */
        @media (max-width:700px) {
            /* Hamburger Menu properties  */
            .hamburger-menu {
                --x-width: calc(var(--hamburger-height) * 1.41421356237);
                display: flex;
                flex-direction: column;
                gap: var(--hamburger-gap);
                width: max-content;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 4;
                cursor: pointer;
                position: fixed;
                margin-top: var(--hamburger-margin-top);
                margin-right: var(--hamburger-margin-right);
                margin-bottom: var(--hamburger-margin-bottom);
                margin-left: var(--hamburger-margin-left);
            }
        
            .hamburger-menu:has(input:checked) {
                --foreground: var(--theme-color-light-alt);
                --background: var(--text-color);
            }
        
            .hamburger-menu:has(input:focus-visible)::before,
            .hamburger-menu:has(input:focus-visible)::after,
            .hamburger-menu input:focus-visible {
                border: 1px solid var(--background);
                box-shadow: 0 0 0 1px var(--foreground);
            }
        
            .hamburger-menu::before,
            .hamburger-menu::after,
            .hamburger-menu input {
                content: "";
                width: var(--bar-width);
                height: var(--bar-height);
                background-color: var(--foreground);
                border-radius: 9999px;
                transform-origin: left center;
                transition: opacity var(--animation-timing), width var(--animation-timing),
                  rotate var(--animation-timing), translate var(--animation-timing),
                  background-color var(--animation-timing);
            }
        
            .hamburger-menu input {
                appearance: none;
                padding: 0;
                margin: 0;
                outline: none;
                pointer-events: none;
                border-color: var(--text-color);
            }
        
            .hamburger-menu:has(input:checked)::before {
                rotate: 45deg;
                width: var(--x-width);
                translate: 0 calc(var(--bar-height) / -2);
            }
        
            .hamburger-menu:has(input:checked)::after {
                rotate: -45deg;
                width: var(--x-width);
                translate: 0 calc(var(--bar-height) / 2);
            }
        
            .hamburger-menu input:checked {
                opacity: 0;
                width: 0;
            }
        
            /* Sidebar properties */
            .sidebar {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                position: fixed;
                top: 0;
                right: 0;
                transition: var(--animation-timing-sidebar);
                transform: translateY(-110%);
                padding-top: calc(var(--hamburger-height) + var(--hamburger-margin-top) + 1rem);
                padding-bottom: 2rem;
                background-color: var(--theme-color-dark);
                color: var(--text-color);
                box-shadow: 0 4px 6px #0000001a;
                width: 100%;
                max-height: fit-content;
                z-index: 3;
            }
        
            .hamburger-menu:has(input:checked) + .sidebar {
                transform: translateY(0);
            }

            .hamburger-menu:has(input:checked) + .sidebar a {
                transform: translateY(0);
                transition-delay: calc(.15s * var(--i));
                opacity: 1;
            }

            /* Navbar links properties */
            .navbar-link {
                margin: .75rem;
            }
        
            .navbar-link > a {
                font-size: var(--font-size-m);
                transform: translateY(-50px);
                display: block;
                opacity: 0;
                transition: var(--animation-timing-sidebar);
                font-weight: var(--font-weight-bold);
            }

            .navbar-link a:last-child {
                display: flex;
            }
            
            .nav {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        
            .navbar-link > a:hover {
                cursor: pointer;
            }
        }
    /* --- */

/* Large screen Header and Navbar properties */
@media (min-width:700px) {

    .hamburger-menu {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-link {
        margin: 0 2rem;
    }
}

/* -- Break Points -- */

@media (min-width:420px) {

    .section__home {
        padding-bottom: 1rem;
    }
    
    .hero-img {
        max-width: 500px;
    }


    .section__gallery:nth-child(even) .gallery-grid {
        direction: rtl;
    } /* Alternate direction of the images flow between the gallery sections */

    .gallery-grid > :nth-child(6) {
        display: block;
        } /* Set the image #6 in the gallery visible for the tablet layout */ 
    }

@media (min-width:700px) {

    .section {
        padding: 1.5rem 3rem;
    }

    .section__home {
        padding: 1rem 3rem;
    }

    .section__gallery .frame {
        margin-bottom: 1.5rem;
    }
}

@media (min-width:875px) {

    .gallery-grid {
        grid-template-columns: repeat(6, minmax(8rem, 1fr));
    } /* Grid that arranges the flow of the images in the gallery section, restricting the number of columns to 6 */

    .gallery__frame:has(.folded) {
        display: block;
    } /* Set all images in the gallery visible for the large/desktop layout */

    .btn--toggle-img {
        display: none;
    }
}

@media (min-width:980px) {
    
    .section__home {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    } /* Set the home page to horizontal on the large/desktop screen */
    
    .hero-img {
        max-width: 50rem;
    }
    
    .main-headline {
        margin: 0 auto;
        align-self: flex-start;
    }
    
    .home__frame {
        width: 50vw;
        max-width: 50rem;
        margin: 2rem;
    }

    .hero-img {
        margin-top: 2rem;
    }

    .btn--primary-cta {
        margin-top: 2rem;
    }

    .logo--mini-anim {
        margin-right: .5rem;
        width: 3rem;
    }
    
    .logo--name {
        width: 8.5rem;
    }
}

@media (min-width: 1400px) {

    .section {
        padding: 2rem 6rem;
    }
    
    .section__home {
        padding: 0;
    }
    
    .main-headline {
        padding: 1rem;
    }
    
    .main-headline > p {
        margin: 2rem;
        max-width: 38ch;
    }
}


