/* --- Global styles --- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&family=Suez+One&display=swap') all;

:root {
    /* Theme variables */
    --theme-color-light: #fff;
    --theme-color-light-alt: #bb562a;
    --theme-color-dark: #eee;
    --theme-color-dark-alt: #1b1b1b;
    --text-color: #1b1b1b;
    --text-color-alt: #fff;
    --text-color-alt2: #808a99;
    --text-color-alt3: #626262;
    --border-color-light: #b8c0cc;
    --font-family-h: 'Suez One', serif;
    --font-family-txt: 'Inter', sans-serif;
    --font-family-arrow-icon: 'Quicksand', sans-serif;
    --font-size-h-xs: 16px;
    --font-size-h-s: 22px;
    --font-size-h-m: 24px;
    --font-size-h-l: 30px;
    --font-size-xxs: 10px;
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 24px;
    --font-size-xl: 28px;
    --font-weight-xlight: 200;
    --font-weight-light: 400;
    --font-weight-bold: 600;
    --line-height: 1.6;
    --line-height-xl: 2;
    --letter-spacing: .5px;

    /* Navigation variables */
    /* (Code implemented following the Web Dev Simplified tutorial) */
        --bar-width: 35px;
        --bar-height: 4px;
        --hamburger-gap: 6px;
        --foreground: var(--text-color);
        --background: var(--text-color-alt);
        --hamburger-margin: .75rem;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    /* -- */
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-margin-top: 4rem;
    -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
    outline: 2px solid var(--theme-color-light-alt);
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
}

body {
    min-width: 18rem;
}

/* --- Layout --- */

/* Logo Styles */
.logo {
    display: inline-block;
    width: 10rem;
    aspect-ratio: 1024 / 236;
}

.logo--navbar-logo {
    margin: 1rem .75rem .5rem;
}

.logo--footer-logo {
    filter: saturate(0%) sepia(50%);
    opacity: 0.7;
}

.wrapper--logo-btn {
    width: fit-content;
}

/* Header Styles */
.header { 
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    width: 100vw;
    border: none;
    box-shadow: none;
    background-color: var(--theme-color-light);
    transition: box-shadow 0.3s ease-in-out;
}

.header.scrolled {
    border: none;
    box-shadow: 0 4px 6px #0000001a;
}

/* Section and Frame Styles */
.frame {
    border: solid 2px var(--text-color-alt);
    padding: 1.5rem 2rem 2rem;
    margin: .5rem;
}

.frame > p {
    margin-top: 1rem;
}

.frame > ul {
    margin: 1rem
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-color-light);
    padding: 1rem;
}

/* Home Page Styles */
.section__home {
    padding: .5rem;
}

.main-headline { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem .5rem 1rem;
    padding: .5rem;
    background-color: var(--theme-color-light);
    max-width: fit-content;
}

.main-headline > h1 {
    margin: 0 1rem .5rem;
}

.main-headline > p {
    margin: 1rem;
    max-width: 45ch;
}

.hero-img {
    display: inline-block;
    width: 100%;
    aspect-ratio: 1440 / 1100;
    object-fit: cover;
    object-position: center;
} 

/* Services Page Styles */
.section__services {
    background-color: var(--theme-color-dark);
}

.section__services > h2 {
    margin: 1.5rem;
}

/* Gallery Page Styles */
.section__gallery {
    align-items: center;
    padding: 1rem .5rem .5rem;
}

.section__gallery:nth-child(even) {
    background-color: var(--theme-color-dark);
} /* Property to alternate background color for gallery sections */

.section__gallery .frame {
    border: none;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-flow: dense;
    grid-gap: .5rem;
} /* Grid that arranges the flow of the images */

.gallery__frame:first-child {
    grid-row: span 2;
    grid-column: span 2;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    aspect-ratio: 1/1;
}

/* About Us Page Styles */
.section__about-us {
    background-color: var(--theme-color-light-alt);
}

.section__about-us > .frame > p {
    font-weight: 400;
}

.section__about-us .frame {
    color: var(--text-color-alt);
    font-weight: var(--font-weight-light);
    max-width: 70ch;
}

/* Contact Us Page Styles */
.section__contact-us {
    background-color: var(--theme-color-dark);
    box-shadow: 0 4px 6px #0000001a;
    text-align: center;
}

.section__contact-us .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 3px;
    max-width: 70ch;
}

.section__contact-us .frame > h2 {
    margin-top: 1rem;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    min-width: 30ch;
}

.section__thank-you .logo,
.section__page-404 .logo {
    margin: 2rem;
}

.section__thank-you > h1,
.section__thank-you > p,
.section__page-404 > h1,
.section__page-404 > p {
    margin: 1rem;
    font-weight: var(--font-weight-light);
}

/* Aside Styles */
.aside {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color-dark-alt);
    align-items: center;
    padding: 2rem;
    color: var(--text-color-alt);
}

.aside > h3 {
    font-size: var(--font-size-h-xs);
}

/* Footer Styles */
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: -1;
    color: var(--text-color-alt3);
    padding: 2rem 5rem .25rem;
}

.footer > p {
    margin: .5rem 2rem 0;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-xs);
}

.footer > p:last-child {
    margin-top: 2rem;
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-light);
}

/* -- Typography -- */

/* Headings */
h1, 
h2,
h3,
h4,
h5 {
    text-wrap: balance;
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

h3,
h4,
h5 {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-h-xs);
}

h1,
h2 {
    font-family: var(--font-family-h);
    font-weight: var(--font-weight-light);
}

h4,
h5 {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-xs);
}

h1 {
    font-size: var(--font-size-h-m);
}

h2 {
    font-size: var(--font-size-h-s);
}

h3 {
    font-weight: var(--font-weight-light);
}

/* Text Styles */

a,
p,
label,
ul {
    font-family: var(--font-family-txt);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    letter-spacing: var(--letter-spacing);
}

label {
    color: var(--text-color-alt3);
}

p {
    max-width: 56ch;
}

ul {
    line-height: var(--line-height-xl);
}

/* Icon Styles */

.arrow-icon {
    display: inline-block;
    font-family: var(--font-family-arrow-icon);
    font-size: var(--font-size-l);
    letter-spacing: -1px;
    line-height: 0;
    transform: scaleX(.7) translateY(3px);
    transition: transform 0.3s ease-in-out;
}

/* Link Styles */
a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--theme-color-light-alt);
}

a:active {
    color: var(--text-color-alt2);
}

.a--alt {
    color: var(--text-color-alt);
}

/* Input and Textarea Styles */
label {
    align-self: flex-start;
    margin: 0.5rem 0.3rem 0;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 3px;
    border-width: 1px;
    border-color: var(--border-color-light);
    border-style: solid;
    outline: none;
    font-size: var(--font-size-xs);
}

textarea {
    height: 7.5rem;
}

input::placeholder,
textarea::placeholder {
    font-family: var(--font-family-txt);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-xlight);
}

input:focus,
textarea:focus {
    border-color: var(--text-color-alt2);
}

/* Special Class */
.span--nobreak {
    white-space: nowrap;
}

.hidden {
    opacity: 0;
    transform: scale(.85);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: scale(1);
} 

/* --- Buttons -- */
.btn { 
    display: inline-block;
    margin: 1rem;
    padding: .6em 1.25em;
    border-radius: 0;
    border-width: 0;
    border: 2px solid var(--theme-color-light-alt);
    background-color: var(--theme-color-light);
    color: var(--theme-color-light-alt);
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    color: var(--theme-color-dark-alt);
    border-color: var(--theme-color-dark-alt);
}

.btn--primary-cta {
    padding-left: 1.75rem;
}

.btn--primary-cta:hover .arrow-icon {
    transform: scaleX(.7) translateY(3px) translateX(7px);
} /* animation to move arrow icon on hover */

.btn--primary-cta:active .arrow-icon { 
    color: var(--theme-color-dark-alt);
}

.btn--submit-msg {
    width: auto;
    margin: 3rem 1rem 2rem;
    font-weight: var(--font-weight-bold);
}

/* --- Media queries ---- */

/* Navbar Properties */
    /* (Code implemented following the Web Dev Simplified tutorial) */

        @media (max-width:600px) {
            /* Hamburger Menu properties  */
            .hamburger-menu {
                --x-width: calc(var(--hamburger-height) * 1.41421356237);
                display: flex;
                flex-direction: column;
                gap: var(--hamburger-gap);
                width: max-content;
                position: absolute;
                top: var(--hamburger-margin);
                right: var(--hamburger-margin);
                z-index: 4;
                cursor: pointer;
                position: fixed;
            }
        
            .hamburger-menu:has(input:checked) {
                --foreground: var(--theme-color-light-alt);
                --background: var(--text-color);
            }
        
            .hamburger-menu:has(input:focus-visible)::before,
            .hamburger-menu:has(input:focus-visible)::after,
            .hamburger-menu input:focus-visible {
                border: 1px solid var(--background);
                box-shadow: 0 0 0 1px var(--foreground);
            }
        
            .hamburger-menu::before,
            .hamburger-menu::after,
            .hamburger-menu input {
                content: "";
                width: var(--bar-width);
                height: var(--bar-height);
                background-color: var(--foreground);
                border-radius: 9999px;
                transform-origin: left center;
                transition: opacity var(--animation-timing), width var(--animation-timing),
                  rotate var(--animation-timing), translate var(--animation-timing),
                  background-color var(--animation-timing);
            }
        
            .hamburger-menu input {
                appearance: none;
                padding: 0;
                margin: 0;
                outline: none;
                pointer-events: none;
                border-color: var(--text-color);
            }
        
            .hamburger-menu:has(input:checked)::before {
                rotate: 45deg;
                width: var(--x-width);
            
                translate: 0 calc(var(--bar-height) / -2);
            }
        
            .hamburger-menu:has(input:checked)::after {
                rotate: -45deg;
                width: var(--x-width);
                translate: 0 calc(var(--bar-height) / 2);
            }
        
            .hamburger-menu input:checked {
                opacity: 0;
                width: 0;
            }
        
            /* Sidebar properties */
            .sidebar {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                position: fixed;
                top: 0;
                right: 0;
                transition: top var(--animation-timing);
                translate: -1000%;
                padding: 1rem 1rem;
                padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
                background-color: var(--theme-color-dark);
                color: var(--text-color);
                box-shadow: 0 4px 6px #0000001a;
                width: 100%;
                max-height: fit-content;
                z-index: 3;
            }
        
            .hamburger-menu:has(input:checked) + .sidebar {
                translate: 0;
            }
        
            .navbar-link {
                margin: 2rem;
            }
        
            .navbar-link > a {
                font-size: var(--font-size-m);
            }
        
            .navbar-link > a:hover {
                cursor: pointer;
            }
        }
    /* --- */

    /* Large screen Navbar properties */
    @media (min-width:600px) {
        .hamburger-menu {
            display: none;
        }

        .nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .logo--navbar-logo {
            margin: 1rem;
            display: block;
        }

        .navbar-link {
            margin: 0 2rem;
        }
    }

/* Large Screen Layout Properties */
@media (min-width:600px) {

    .section {
        padding: 1.5rem 3rem;
    }

    .section__home {
        padding: 0.5rem 3rem;
    }

    .section__gallery:nth-child(even) .gallery-grid {
        direction: rtl;
    } /* Property to alternate direction of the images flow between the gallery sections */

    .section__gallery .frame {
        margin-bottom: 1.5rem;
    }

@media (min-width:875px) {

    .gallery-grid {
        grid-template-columns: repeat(6, minmax(8rem, 1fr));
    } /* Grid that arranges the flow of the images in the gallery section, restricting the number of columns to 6 */
    }
}

@media (min-width:980px) {

    .section__home {
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 0;
    }
    
    .logo--navbar-logo {
        width: 14rem;
    }
    
    .main-headline {
        margin: 0 auto;
    }
    
    .home__frame {
        width: 50vw;
        margin: 5rem 0 2rem;
    }
}

@media (min-width: 1250px) {

    .section {
        padding: 2rem 6rem;
    }
    
    .section__home {
        padding: 0;
    }
    
    .main-headline {
        padding: 1rem;
    }
    
    .main-headline > p {
        margin: 2rem;
        max-width: 38ch;
    }
    
    .main-headline > h1 {
        font-size: var(--font-size-h-l);
    }
}